* {
  font-family: "Roboto", sans-serif;
  color: #000000;
  margin: 0px;
  padding: 0px;
}
.main {
  width: 1280px;
  max-height: 720px;
}
.content {
  margin-left: 52px;
  margin-top: 52px;
  margin-right: 120px;
  margin-bottom: 151px;
}
