.admin_panel2_main * {
  font-family: "Roboto", sans-serif;
  color: #000000;
  margin: 0px;
  padding: 0px;
  font-weight: 500;
  font-size: 14px;
}
.admin_panel2_main .admin_panel2_contain {
  width: 1280px;
  max-height: 720px;
  margin-left: 52px;
  margin-top: 52px;
  margin-right: 120px;
}
.admin_panel2_main .admin_panel2_contain #admin_panel2_header h1 {
  font-weight: 300;
  font-size: 50px;
}
.admin_panel2_main .admin_panel2_contain .admin_panel2_inputs input {
  width: 374px;
  height: 48px;
  margin-bottom: 20px;
  border: 1px solid #000000;
  padding-left: 5px;
}
.admin_panel2_main .admin_panel2_contain .admin_panel2_inputs .descriptions {
  height: 134px;
  margin-bottom: 20px;
}
.admin_panel2_main .admin_panel2_contain .admin_panel2_inputs {
  display: flex;
  width: 1182px;
  justify-content: space-between;
}
.admin_panel2_main .admin_panel2_contain .admin_panel2_inputs .right button {
  width: 120px;
  height: 48px;
  border-width: 0px;
  cursor: pointer;
  border-radius: 5px;
}
.admin_panel2_main
  .admin_panel2_contain
  .admin_panel2_inputs
  .right
  div
  button:first-child {
  background-color: #833ae0;
  color: white;
  margin-right: 30px;
}
.admin_panel2_main .admin_panel2_contain .admin_panel2_inputs .right {
  display: grid;
  grid-gap: 164px;
}
.admin_panel2_main .admin_panel2_contain .admin_panel2_inputs .right .buttons {
  text-align: center;
}
