.admin_panel1_main * {
  font-family: "Roboto", sans-serif;
  color: #000000;
  margin: 0px;
  padding: 0px;
}
.admin_panel1_main {
  width: 1280px;
  max-height: 720px;
  margin-left: 52px;
}
.content {
  margin-top: 52px;
}
header h1 {
  font-weight: 300;
  font-size: 50px;
  margin-bottom: 25px;
}
.admin_panel1_seach_place label {
  font-weight: 500;
  font-size: 14px;
}
.admin_panel1_seach_place .admin_panel1_seach_place_input {
  width: 374px;
  height: 48px;
  border: 1px solid #000000;
  margin-bottom: 10px;
}
.admin_panel1_seach_place button {
  background-color: #833ae0;
  width: 120px;
  height: 51px;
  border-width: 0px;
  color: white;
  margin-left: 30px;
  border-radius: 5px;
}
.admin_panel1_seach_place a {
  margin-right: 9px;
  font-weight: 300;
}
.admin_panel1_seach_place {
  margin-bottom: 60px;
}
.admin_panel1_main .coin_info img,
svg {
  width: 120px;
  height: 120px;
}
.admin_panel1_main .coin_info {
  display: flex;
  justify-content: space-between;
  max-width: 745px;
  margin-bottom: 25px;
}
.admin_panel1_main .coin_info button {
  width: 120px;
  height: 48px;
  border-width: 0;
  color: #000000;
  font-weight: 400;
  font-size: 14px;
}
.admin_panel1_main .coin_info .text {
  width: 224px;
}
.admin_panel1_main .coin_info .text h1 {
  font-weight: 700px;
  font-size: 16px;
  color: #833ae0;
}
.admin_panel1_main .coin_info .text p {
  font-weight: 400;
  font-size: 12px;
}
.admin_panel1_main .commun_coin_info .add_new_coin {
  display: flex;
  align-items: center;
  width: 284px;
  justify-content: space-between;
}
