<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./Admin_panel1.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <main class="main">
      <div class="content">
        <header>
          <h1>Admin panel</h1>
        </header>
        <div class="seach_place">
          <label>Input field</label>
          <br />
          <input />
          <button class="seach_button">Seach</button><br />
        </div>
      </div>
      <div class="commun_coin_info">
        <div class="coin_info">
          <div><img src="./images/coin.svg" alt="" /></div>
          <div class="text">
            <h1>Canadian Beaver</h1>
            <p>
              "Canadian beaver". Unique coin with the image of a beaver. Face
              value - 5 cents. Created under Elizabeth II.
            </p>
          </div>
          <div><button>Edit</button></div>
          <div><button>Delete</button></div>
        </div>
        <div class="coin_info">
          <div><img src="./images/coin.svg" alt="" /></div>
          <div class="text">
            <h1>Canadian Beaver</h1>
            <p>
              "Canadian beaver". Unique coin with the image of a beaver. Face
              value - 5 cents. Created under Elizabeth II.
            </p>
          </div>
          <div><button>Edit</button></div>
          <div><button>Delete</button></div>
        </div>
        <div class="add_new_coin">
          <img src="./images/circle.svg" alt="circle" />
          <a href="">Add a new coin</a>
        </div>
      </div>
    </main>
  </body>
</html>
