.coin_description_main * {
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", sans-serif;
}
.coin_description_main {
  display: flex;
  justify-content: center;
}
.coin_description_content {
  width: 812px;
  height: 624px;
  display: flex;
  justify-content: space-between;
}
.coin_description_content .coins img {
  width: 300px;
  height: 300px;
}
.coin_description_content .coins {
  width: 300px;
  height: 624px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.coin_description_content .description p {
  font-weight: 400;
  font-size: 12px;
}
.coin_description_content .description h1 {
  font-weight: 700;
  font-size: 28px;
  margin-bottom: 20px;
}
.description {
  background-color: #c4c4c480;
  width: 452px;
  height: 624px;
  padding: 19px 43px 20px 43px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.description table tr td {
  font-size: 10px;
  width: 183px;
  height: 20px;
  padding: 3px;
}
.description table tr:nth-child(odd) {
  background-color: #ffffffe5;
}
.description .up .allps :last-child {
  margin-bottom: 40px;
}
.description .coin_description_down button {
  font-weight: 400;
  font-size: 10px;
  color: white;
  background-color: #833ae0;
  border-width: 0px;
  height: 30px;
  width: 100px;
}
