.listofthecoins_main * {
  font-family: "Roboto", sans-serif;
  color: #000000;
  margin: 0px;
  padding: 0px;
}
.listofthecoins_main {
  min-width: 730px;
}
.listofthecoins_main
  .listofthecoins_content
  .listofthecoins_seach_place
  .listofthecoins_adv_img
  h5 {
  margin-right: 9px;
  font-weight: 300;
  text-decoration: underline;
  font-size: 14px;
}
.listofthecoins_main
  .listofthecoins_content
  .listofthecoins_seach_place
  .listofthecoins_adv_img {
  display: flex;
  margin-bottom: 25px;
}
.listofthecoins_content {
  margin-left: 52px;
  margin-top: 52px;
  margin-right: 120px;
  margin-bottom: 151px;
}
.listofthecoins_header h1 {
  font-weight: 300;
  font-size: 50px;
}
.listofthecoins_header h6,
span {
  font-weight: 500;
  font-size: 10px;
  color: #b1abab;
}
.listofthecoins_header span {
  text-decoration: underline;
  cursor: pointer;
}
.listofthecoins_header {
  margin-bottom: 25px;
}
.listofthecoins_seach_place label {
  font-weight: 500;
  font-size: 14px;
}
.listofthecoins_main
  .listofthecoins_content
  .listofthecoins_seach_place
  .listofthecoins_seach_input {
  width: 374px;
  height: 48px;
  margin-bottom: 10px;
  border: 1px solid #000000;
}
.listofthecoins_seach_place button {
  background-color: #833ae0;
  width: 120px;
  height: 51px;
  border-width: 0px;
  color: white;
  margin-left: 30px;
  border-radius: 5px;
  cursor: pointer;
}
.listofthecoins_seach_place a {
  margin-right: 9px;
  font-weight: 300;
}
.listofthecoins_main .listofthecoins_coins .coin img {
  width: 120px;
  height: 120px;
}
.listofthecoins_main .listofthecoins_coins .coin {
  width: 374px;
  display: flex;
  justify-content: space-between;
}
.listofthecoins_coins .coin h3 {
  color: #833ae0;
  font-weight: 700;
  font-size: 16px;
  width: 224;
  height: 20px;
}
.listofthecoins_coins .coin h6 {
  font-weight: 400;
  font-size: 12px;
  width: 224px;
  height: 95px;
}
.listofthecoins_coins {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
}
.listofthecoins_main .listofthecoins_content .listofthecoins_main_inputs {
  display: flex;
  justify-content: space-between;
  width: 46%;
  flex-wrap: wrap;
}
.listofthecoins_main
  .listofthecoins_content
  .listofthecoins_main_inputs
  .main_inputs_left
  input {
  width: 374px;
  height: 48px;
  border: 1px solid #000000;
  padding: 5px;
}

.listofthecoins_main
  .listofthecoins_content
  .listofthecoins_main_inputs
  .main_inputs_left
  :nth-child(1)
  input,
:nth-child(2) input {
  margin-bottom: 20px;
  padding: 5px;
}
.listofthecoins_main
  .listofthecoins_content
  .listofthecoins_main_inputs
  .main_inputs_right
  input {
  width: 155px;
  height: 48px;
  border: 1px solid #000000;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 5px;
}
.listofthecoins_main
  .listofthecoins_content
  .listofthecoins_main_inputs
  .main_inputs_right {
  height: 156px;
}
.listofthecoins_main
  .listofthecoins_content
  .listofthecoins_main_inputs
  .main_inputs_right
  .up {
  margin-top: 17px;
}
.listofthecoins_main
  .listofthecoins_content
  .listofthecoins_main_inputs
  .main_inputs_right
  .up_label,
.down_label {
  font-weight: 300;
  font-size: 14px;
}
.listofthecoins_content #listofthecoin_empty_coin {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.listofthecoins_pagination {
  font-family: sans-serif;
  text-align: center;
}

/* img {
  height: 100px;
} */

.listofthecoins_pagination h1 {
  color: #6c7ac9;
}

.listofthecoins_pagination .pagination {
  width: 500px;
  display: flex;
  justify-content: space-between;
  list-style: none;
  cursor: pointer;
}

.listofthecoins_pagination .pagination a {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #833ae0;
  color: #833ae0;
}

.listofthecoins_pagination .pagination__link {
  font-weight: bold;
}

.listofthecoins_pagination .pagination__link--active a {
  color: #fff;
  background: #833ae0;
}

.listofthecoins_pagination .pagination__link--disabled a {
  color: rgb(198, 197, 202);
  border: 1px solid rgb(198, 197, 202);
}
.listofthecoins_pagination .listofthecoins_pagination_coins {
  margin-bottom: 18px;
}
