.homepage1_main * {
  font-family: "Roboto", sans-serif;
  color: #000000;
  margin: 0px;
  padding: 0px;
}
.homepage1_main {
  width: 100%;
  max-height: 720px;
}
.homepage1_content {
  margin-left: 52px;
  margin-top: 52px;
  margin-right: 52px;
  margin-bottom: 151px;
}
.homepage1_header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-weight: 300;
  font-size: 50px;
  margin-bottom: 25px;
  min-width: 624px;
}
header:first-child:-webkit-any-link {
  font-weight: 300;
  font-size: 50px;
  margin-bottom: 25px;
}
.homepage1_seach_place {
  min-width: 524px;
}
.homepage1_seach_place label {
  font-weight: 500;
  font-size: 14px;
}
.homepage1_seach_place input {
  width: 374px;
  height: 48px;
  border: 1px solid #000000;
  margin-bottom: 10px;
  padding: 5px;
}
.homepage1_seach_place button {
  background-color: #833ae0;
  width: 120px;
  height: 51px;
  border-width: 0px;
  color: white;
  margin-left: 30px;
  border-radius: 5px;
}
.homepage1_seach_place .hamepage1_adv_img h5 {
  margin-right: 9px;
  font-weight: 300;
  text-decoration: underline;
  font-size: 14px;
}
.homepage1_seach_place .hamepage1_adv_img {
  display: flex;
  margin-bottom: 60px;
}
.homepage1_coins {
  display: flex;
}
.homepage1_coin {
  width: 30%;
}
.homepage1_coins .homepage1_coin .texts_coin {
  height: 214px;
  width: 214px;
}
.texts :first-child {
  font-weight: 500;
  font-size: 28px;
  line-height: 28px;
  margin-bottom: 20px;
}
.texts :nth-child(2) {
  font-weight: 3900;
  font-size: 14px;
  line-height: 15.26px;
  margin-right: 7px;
}
.texts {
  margin-bottom: 10px;
}
.homepage1_main .homepage1_content .main_inputs {
  display: flex;
  max-width: 789px;
  flex-wrap: wrap;
  justify-content: space-between;
}
.homepage1_main .homepage1_content .main_inputs .main_inputs_left input {
  width: 374px;
  height: 48px;
  border: 1px solid #000000;
}

.homepage1_main
  .homepage1_content
  .main_inputs
  .main_inputs_left
  :nth-child(1)
  input,
:nth-child(2) input {
  margin-bottom: 20px;
}
.homepage1_main .homepage1_content .main_inputs .main_inputs_right input {
  width: 155px;
  height: 48px;
  border: 1px solid #000000;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
}
.homepage1_main .homepage1_content .main_inputs .main_inputs_right {
  height: 156px;
}
.homepage1_main .homepage1_content .main_inputs .main_inputs_right .up {
  margin-top: 17px;
}
.homepage1_main .homepage1_content .main_inputs .main_inputs_right .up_label,
.down_label {
  font-weight: 300;
  font-size: 14px;
}

@media (max-width: 768px) {
}
