<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./Homepage2.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <main class="main">
      <div class="content">
        <header>
          <h1>Homepage</h1>
        </header>
        <div class="seach_place">
          <label for="">Input field</label>
          <br />
          <input class="seach_input" />
          <button class="seach_button">Seach</button><br />
          <a href="">Advanced filter</a
          ><img src="./images/arrow_down.svg" alt="coin" />
        </div>
        <div class="main_inputs">
          <div class="main_inputs_left">
            <label for=""><br />Issuing country<br /><input /></label>
            <label for=""><br />Metal<br /><input /></label>
            <label for=""><br />Quality of the coin<br /><input /></label>
          </div>
          <div class="main_inputs_right">
            <div class="up">
              <label for=""
                >Price<br /><label for="" class="up_label">
                  from<input type="text" />to<input type="text"
                /></label>
              </label>
            </div>
            <div class="down">
              <label for=""
                >Year of issue <br /><label for="" class="down_label">
                  from<input type="text" />to<input type="text" /></label
              ></label>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
