.admin_panel_login_main * {
  font-family: "Roboto", sans-serif;
  color: #000000;
  margin: 0px;
  padding: 0px;
}
.admin_panel_login_main {
  margin: 52px;
}
.admin_panel_login_content {
  margin: auto;
}
.admin_panel_login_header h1 {
  font-weight: 300;
  font-size: 50px;
  margin-bottom: 25px;
}
.admin_panel_login_main .admin_panel_login_content .login {
  display: flex;
  justify-content: center;
  align-items: center;
}
.admin_panel_login_main .admin_panel_login_content .login .login_into input {
  width: 374px;
  height: 48px;
  margin-bottom: 30px;
  border: 1px solid #000000;
}
.admin_panel_login_main
  .admin_panel_login_content
  .login
  .login_into
  .admin_panel_login_back_sign_in {
  display: flex;
  justify-content: center;
}
.admin_panel_login_main
  .admin_panel_login_content
  .login
  .login_into
  .admin_panel_login_back_sign_in
  .admin_panel_login_back_sign_in_into
  button {
  width: 120px;
  height: 48px;
  background-color: #833ae0;
  border-width: 0px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
.admin_panel_login_main
  .admin_panel_login_content
  .login
  .login_into
  .admin_panel_login_back_sign_in
  .admin_panel_login_back_sign_in_into {
  width: 270px;
  display: flex;
  justify-content: space-between;
}
.admin_panel_login_main .admin_panel_login_content .login .login_into label {
  width: 500;
  font-size: 14px;
}
.admin_panel_login_main .admin_panel_login_content .login .login_into {
  width: 374px;
  font-size: 14px;
  font-weight: 500;
}
